.container {
  display: block;
  background-color: rgb(204, 204, 236);
  border-radius: 10px 60px 40px;
  padding: 8px 20px;
  cursor: pointer;
  box-shadow: 0 0 15px 4px white;

  &:hover {
    box-shadow: 0 0 5px 4px white;
    border-radius: 10px;
    transition: box-shadow 100ms ease-in-out, border-radius 200ms ease-in-out;

    .heading {
      background-color: white;
      color: black;
      letter-spacing: 5px;
    }
    .text {
      background-color: white;
      color: black;
    }
  }
}
.heading {
  display: inline-block;
  background-color: blue;

  transition: all 100ms;
}
.text {
  background-color: blue;

  transition: all 100ms 50ms;
}
